.content {
  flex-direction: column; /* Mantiene la dirección en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  padding: 10px; /* Espaciado interno */
}

.alien {
  width: 15vw; /* Usa una unidad relativa para el ancho */
  height: auto;
  display: block;
  margin: 20px auto; /* Espaciado vertical */
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.alien.fade-out {
  opacity: 0;
}

.title {
  width: 50%; /* Reduce el ancho para pantallas pequeñas */
  max-width: 500px; /* Ancho máximo para evitar que crezca demasiado */
  height: auto;
  display: block;
  margin: 0 auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5vw; /* Usa una unidad relativa para el tamaño de fuente */
  color: #FCEE4A;
  margin-top: 1.5vw;
  font-family: 'Press Start 2P', cursive;
  animation: fadeInOut 3s infinite;
  text-align: center; /* Alinea el texto al centro */
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
