.estado-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1vw; /* Margen dinámico para ajustarse al tamaño de la pantalla */
}

.estado-title {
  font-size: 1.2vw; /* Tamaño de fuente dinámico basado en el ancho de la pantalla */
  color: #FCEE4A;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 0.2vw; /* Margen inferior dinámico */
  letter-spacing: 0.1vw; /* Espaciado entre letras dinámico */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.estado-value {    
  font-size: 1.3vw; /* Tamaño de fuente dinámico basado en el ancho de la pantalla */
  text-transform: uppercase;
  color: #8EE367;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2vw; /* Espaciado entre letras dinámico */
}

.estado-container {
  text-align: center;
}

/* Clases para cambiar el color según el estado */
.estado-ideal {
  color: #8EE367;
}

.estado-frio {
  color: #00BFFF; 
}

.estado-caliente {
  color: rgb(247, 119, 33);
}

.estado-muerto {
  color: gray;
}
