.btn-primary-curar {
  margin-top: 2vw;
  background-color: #FCEE4A; /* Color de fondo "alimentar" */
  border-color: #FCEE4A; /* Color del borde */
  color: black; /* Color del texto */
  font-size: 1vw; /* Tamaño de fuente basado en el ancho de la ventana */
  padding: 1vh 0; /* Padding vertical usando unidades relativas al alto de la ventana */
  border-radius: 8px; /* Bordes suaves */
  font-family: 'Press Start 2P';
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transiciones suaves */
  width: 80%; /* Ancho del botón en porcentaje */
  max-width: 150px; /* Ancho máximo para evitar que crezca demasiado */
  min-width: 75px; /* Ancho mínimo para asegurarse de que no se vuelva demasiado pequeño */
  height: 6vh; /* Alto del botón en unidades relativas a la altura de la ventana */
  display: block; /* Asegura que el botón se comporte como un bloque */
  margin-left: auto; /* Centrando el botón horizontalmente */
  margin-right: auto; /* Centrando el botón horizontalmente */
}

.btn-primary-curar:hover {
  background-color: #fced4a9a; /* Color al hacer hover */
  border-color: #fced4a9a;
}

.mensaje {
  margin-top: 10px; /* Espacio entre el botón y el mensaje */
  font-size: 2vw; /* Tamaño relativo para el mensaje */
  color: #FCEE4A; /* Color del mensaje */
  text-align: center; /* Centra el texto */
}
