.life-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.life-title {
  margin-left: 1vw; /* Usamos unidades vw para mantener el margen proporcional al ancho de la pantalla */
  font-size: 1.2vw; /* El tamaño de la fuente se ajusta según el ancho de la pantalla */
  color: #FCEE4A;
  font-family: 'Press Start 2P';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heart-images {
  display: flex;
  flex-wrap: wrap; /* Permite que los corazones salten a la siguiente fila si no caben */
  justify-content: flex-start;
  margin-left: 1vw;
}

.heart-image {
  width: 2vw; /* Tamaño dinámico de los corazones en función del ancho de la pantalla */
  height: auto;
  margin-right: 0.3vw;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); /* Sombra para darle efecto */
  transition: opacity 0.3s ease, width 0.3s ease; /* Añadimos transición suave al tamaño también */
}

.heart-image.active {
  opacity: 1;
}

.heart-image.inactive {
  opacity: 0.3;
}
